<div class="container">
  <div class="buttonWrapper">
    <button class="button" (click)="showInputFields()">{{buttonText}}</button>
    <p class="text" *ngIf="!selectedCert && !isInputFieldsOpen">Нема жодного сертифікату</p>
    <div class="certList">
      <div class="listItem" *ngFor="let cert of certList">
        <button class="listButton" (click)="showInfo(cert)">{{ cert.commonName }}</button>
      </div>
    </div>
  </div>
  <div class="windowWrapper">
    <div *ngIf="isInputFieldsOpen" appDragDrop (fileDropped)="fileFromDragAndDrop($event)" class="dragAndDrop">
      <p class="text">Перетягніть файл сертифікату сюди <br>або</p>
      <input type="file" (change)="fileFromInput($event)">
    </div>
    <div class="info" *ngIf="!isInputFieldsOpen && selectedCert">
      <p class="infoText"><b>Common Name:</b>{{selectedCert.commonName}}</p>
      <p class="infoText"><b>Issuer CN:</b>{{selectedCert.issuerCN}}</p>
      <p class="infoText"><b>Valid From:</b>{{selectedCert.validFrom}}</p>
      <p class="infoText"><b>Valid To:</b>{{selectedCert.validTo}}</p>
    </div>
  </div>
</div>
